* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

svg.stripe {
  position: absolute;
  left: 0;
  width: 100%;
  height: clamp(100px, 15dvw, 160px);
}

@media (max-width: 500px) {
  svg.stripe {
    height: clamp(300px, 20dvw, 200px);
  }
}

svg.top {
  top: 0;
}

svg.bottom {
  bottom: 0;
}
